<div class="container">
    <h1>Produtos</h1>
    <button onclick="location.href='/api/view/addproduct'">Adicionar Produto</button>
    <button onclick="location.href='/api/view/cart'">Ver Carrinho</button>

    <h2>Lista de produtos</h2>
    <ul class="list-group">
    {{#each products}}
            <div class=" list-group-item">
                <li>
                    <h2>Nome: {{this.title}}</h2>
                    <img>Foto do produto em processo..</img>
                    <p>Descrição: {{description}}</p>
                    <p>Preço: R${{price}}</p>
<!--                    <p>Categoria: {{category}}</p>-->
<!--                    <p>Estoque: {{stock}}</p>-->
                </li>

                <div>
                    <button onclick="location.href='/api/view/detailsProduct/{{this._id}}'"> Ver Detalhes</button>
                </div>
            </div>
    {{/each}}
    </ul>


        <button onclick="location.href='{{this.prevLink}}'">Anterior</button>

        <button onclick="location.href='{{this.nextLink}}'">Proximo</button>


        <div>
            Página {{this.page}} de {{this.totalPages}}
        </div>

</div>
