<div class="container">
    <h1>Produto Selecionado</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Preço: R${{price}}</p>
            <p>Categoria: {{category}}</p>
            <p>Estoque: {{stock}}</p>
        </li>
    </ul>
    <button onclick="location.href='/api/carts'">Adicionar ao carrinho</button>
</div>
